@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  background-color: paleturquoise;
  color: rgb(22, 22, 22);
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

main {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .time {
    font-size: 60px;
    //border: 3px solid #ff0080;
    padding: 12px 24px;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080,
      0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  }

  .quotes {
    position: relative;
    font-size: 60px;
    // font-family: "Courier New", Courier, monospace;
    .quotesAddBtn {
      display: none;

      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }
    &:hover {
      .quotesAddBtn {
        display: inline-block;
      }
    }
  }

  .newQuotes {
    display: none;
  }

  .search {
    .searchTitle {
      display: flex;
      font-size: 32px;
      justify-content: space-around;
    }
    .searchLogo {
      width: 32px;
      height: 32px;
      margin-right: 16px;
      animation: spin 2s linear infinite;
    }
    .searchForm {
      display: flex;
    }
  }

  .searchResult {
    display: none;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    background-color: #f2f2f2;
    color: black;
    font-size: 14px;
    padding: 6px 12px;
    margin-top: 30px;
  }

  .nft {
    position: fixed;
    top: 0;
    right: 0;
    margin: 36px;

    img {
      width: 172px;
      height: 172px;
    }

    .nftHover {
      position: absolute;
      display: none;
      width: 172px;
      height: 172px;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.2);

      a {
        // position: relative;
        border-radius: 4px;
        background-color: white;
        color: black;
        font-size: 16px;
        font-weight: 600;
        padding: 6px 12px;
      }
      button {
        position: absolute;
        top: 0;
        right: 0;
        margin: -8px;
        background-color: #f2f2f2;
        border-radius: 9999px;
        width: 24px;
        height: 24px;
      }
    }
    &:hover {
      .nftHover {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .nftView {
    position: fixed;
    top: 0;
    right: 0;
    margin: 36px;
    display: none;

    background-color: white;
    padding: 12px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
  }
}
